[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BgeeCall"]
	path = BgeeCall
	url = https://github.com/bgeedb/bgeecall
[submodule "BgeeDB"]
	path = BgeeDB
	url = https://github.com/bgeedb/bgeedb_r
